<h2>All Superpowers</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= power.name %> <br><br> Owned By <%=power.heroines.count%> Heroine(s)
      <br>
      Description: <%= power.description %>
    </li>
  <% end %>
</ul>


